<!-- <% productInfo %> -->
<div class="tabs__content rte overflow-hidden" data-js-tabs-content style="display: block">
    <!-- <h4>Sample Paragraph Text</h4>
    <p>
        Lorem ipsum dolor sit amet conse ctetur adipisicing
        elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur.
    </p>
    <h4>Sample Paragraph Text With Images</h4> -->
    <div class="overflow-hidden">
        <img src="<%=imageUrls[1]%>"
            alt="" class="mr-30 mb-25" width="470" height="343" style="float: left" />
        <p>
           <%=description%>
        </p>
        <!-- <p>
            <em>Sit amet conse ctetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</em>
        </p> -->
    </div>
    <!-- <div class="overflow-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0026/2956/6516/files/10_77ecb486-c28c-49b6-929f-170a4bf0f496_large.png?v=1538409807"
            alt="" class="ml-30 mb-25" width="270" height="197" style="float: right" />
        <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing
            elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Lorem ipsum dolor sit amet
            conse ctetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem
            ipsum dolor sit amet conse ctetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Lorem ipsum dolor sit amet
            conse ctetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
        </p>
    </div> -->
    <!-- <div class="overflow-hidden">
        <div class="row">
            <div class="col-12 col-md-6">
                <h4>Sample Unordered List</h4>
                <ul>
                    <li>Fabric 1: 100% Polyester</li>
                    <li>
                        Fabric 2: 100% Polyester,Lining: 100%
                        Polyester
                    </li>
                    <li>
                        Fabric 3: 75% Polyester, 20% Viscose, 5%
                        Elastane
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <h4>Sample Numbered List</h4>
                <ol>
                    <li>
                        Fabric 1: 75% Polyester, 20% Viscose, 5%
                        Elastane
                    </li>
                    <li>
                        Fabric 2: 100% Polyester,Lining: 100%
                        Polyester
                    </li>
                    <li>Fabric 3: 100% Polyester</li>
                </ol>
            </div>
        </div>
    </div> -->
</div>