<!-- <% [1, 2,3,4,5,6].forEach((e)=>{ %> -->

<div class="carousel__item carousel-reviews__review">
  <div class="col">
    <div
      class="carousel-reviews__item_content d-flex flex-column align-items-center align-items-lg-start text-center text-lg-left px-15 px-md-30 py-35"
    >
      <h3 class="carousel-reviews__title h4 mb-0">For Good Quality Clothes</h3>
      <%#
      <div
        class="carousel-reviews__stars inline-flex justify-content-center mt-10"
      >
        <i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                                                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg>
        </i>
      </div>
      %>
      <p class="carousel-reviews__paragraph paragraph-lg mt-20 mb-0">
        Igc has durable clothings as compared to the Ugandan market
      </p>
      <div class="mt-auto">
        <div class="mt-25">
          <div
            class="carousel-reviews__item_image overflow-hidden rounded-circle mx-auto mx-lg-0"
          >
            <!-- <div class="rimage" style="padding-top: 100%">
              <img
                onload="theme.LazyImage.inlineCheck(this)"
                class="rimage__img lazyload"
                loading="eager"
                data-master="//cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_{width}x.progressive.jpg?v=1581158589"
                data-aspect-ratio="1.0"
                data-aspect-ratio-original="1.0"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                data-srcset="//cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x.progressive.jpg?v=1581158589 1x, //cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x@2x.progressive.jpg?v=1581158589 2x, //cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x@3x.progressive.jpg?v=1581158589 3x"
                alt=""
              />
            </div> -->
          </div>
          <div class="carousel-reviews__item_user mt-10">
            <p class="carousel-reviews__item_user_text_line_1 fs-lg mb-0">
              <span class="mr-3">—</span>Ggaliwango Derrick
            </p>
            <p class="carousel-reviews__item_user_text_line_2 mb-0">
               2 weeks ago
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <%})%> -->


<div class="carousel__item carousel-reviews__review">
  <div class="col">
    <div
      class="carousel-reviews__item_content d-flex flex-column align-items-center align-items-lg-start text-center text-lg-left px-15 px-md-30 py-35"
    >
      <h3 class="carousel-reviews__title h4 mb-0">Outstanding Works</h3>
      <%#
      <div
        class="carousel-reviews__stars inline-flex justify-content-center mt-10"
      >
        <i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                                                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg>
        </i>
      </div>
      %>
      <p class="carousel-reviews__paragraph paragraph-lg mt-20 mb-0">
      This is really amazing work, Keep it up  </p>
      <div class="mt-auto">
        <div class="mt-25">
          <div
            class="carousel-reviews__item_image overflow-hidden rounded-circle mx-auto mx-lg-0"
          >
            <!-- <div class="rimage" style="padding-top: 100%">
              <img
                onload="theme.LazyImage.inlineCheck(this)"
                class="rimage__img lazyload"
                loading="eager"
                data-master="//cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_{width}x.progressive.jpg?v=1581158589"
                data-aspect-ratio="1.0"
                data-aspect-ratio-original="1.0"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                data-srcset="//cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x.progressive.jpg?v=1581158589 1x, //cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x@2x.progressive.jpg?v=1581158589 2x, //cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x@3x.progressive.jpg?v=1581158589 3x"
                alt=""
              />
            </div> -->
          </div>
          <div class="carousel-reviews__item_user mt-10">
            <p class="carousel-reviews__item_user_text_line_1 fs-lg mb-0">
              <span class="mr-3">—</span>Chloe Bernard
            </p>
            <p class="carousel-reviews__item_user_text_line_2 mb-0">
               1 weeks ago
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="carousel__item carousel-reviews__review">
  <div class="col">
    <div
      class="carousel-reviews__item_content d-flex flex-column align-items-center align-items-lg-start text-center text-lg-left px-15 px-md-30 py-35"
    >
      <h3 class="carousel-reviews__title h4 mb-0">Low Prices</h3>
      <%#
      <div
        class="carousel-reviews__stars inline-flex justify-content-center mt-10"
      >
        <i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg> </i
        ><i>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-theme-221"
            viewBox="0 0 24 24"
          >
            <g>
              <path
                d="M11.123,9.964l2.012-5.762l1.855,5.82l6.074,0.117l-4.941,3.535l1.758,5.84l-4.922-3.594l-4.961,3.437l1.914-5.762
                                                L5.068,9.924L11.123,9.964z"
              />
            </g>
          </svg>
        </i>
      </div>
      %>
      <p class="carousel-reviews__paragraph paragraph-lg mt-20 mb-0">
        Your prices are really friendly... Looking for to supporting you in again in a weeks time.
      </p>
      <div class="mt-auto">
        <div class="mt-25">
          <div
            class="carousel-reviews__item_image overflow-hidden rounded-circle mx-auto mx-lg-0"
          >
            <!-- <div class="rimage" style="padding-top: 100%">
              <img
                onload="theme.LazyImage.inlineCheck(this)"
                class="rimage__img lazyload"
                loading="eager"
                data-master="//cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_{width}x.progressive.jpg?v=1581158589"
                data-aspect-ratio="1.0"
                data-aspect-ratio-original="1.0"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs="
                data-srcset="//cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x.progressive.jpg?v=1581158589 1x, //cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x@2x.progressive.jpg?v=1581158589 2x, //cdn.shopify.com/s/files/1/0275/1814/0468/files/Rectangle_20_164x@3x.progressive.jpg?v=1581158589 3x"
                alt=""
              />
            </div> -->
          </div>
          <div class="carousel-reviews__item_user mt-10">
            <p class="carousel-reviews__item_user_text_line_1 fs-lg mb-0">
              <span class="mr-3">—</span>Ivan Sokolov
            </p>
            <p class="carousel-reviews__item_user_text_line_2 mb-0">
               5 days ago
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
